<div class="col-10 offset-1"> 
  <br /><br />
  <div class="user-authentication-headers">
    <h1 class="text-center"><%= @course.title %>
    <hr />
    <%= image_tag @course.image.to_s, class: 'img-fluid' %></h1>
    <br /><br />

  <div class="row">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-primary">
        <%= number_to_currency @course.cost %>
      </span>

      <% if current_user && current_user == @course.user %>
        <br />
        <br />
        <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-outline-danger btn-sm' %>
      <% end %>
    </div>

    <div class="col-sm-8 col-12">
      <%= @course.description %>
    </div>
  </div>

  <br />

    <div class="col-12">
     <ul>
        <% @course.sections.each do |section| %>
          <div class="section">
          <li>
            <%= section.title %>
            <ul>
              <% section.lessons.each do |lesson| %>
                <div class="lesson">
                  <%= link_to lesson_path(lesson) do %>
                    <li>
                      <b><%= lesson.title %></b>
                      -
                      <%= lesson.subtitle %>
                    </li>
                  <% end %>
                </div>
              <% end %>
            </ul>
          </li>
          </div>
        <% end %>
      </ul>
    </div>
</div>
